<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 0neBean-->
<!--description server info mapper-->
<!--date 2019-01-21 18:05:28-->
<mapper namespace="net.onebean.server.mngt.dao.ServerInfoDao">
    <select id="findBindAppNameByServerId" parameterType="string" resultType="string">
        SELECT
          app.`app_name`
        FROM
          `t_app_info` app
          LEFT JOIN `t_app_api` aa
            ON aa.`app_id` = app.`id`
          LEFT JOIN t_api_info api
            ON api.`id` = aa.`api_id`
            LEFT JOIN `t_server_info` s ON s.id = api.`server_id`
        WHERE s.id = ${serverId}
        and app.is_deleted = '0'
        and aa.is_deleted = '0'
        and api.is_deleted = '0'
        and s.is_deleted = '0'
        ORDER BY app.id
        LIMIT 1
    </select>

    <select id="countServerInfoByUpSteamNodeName" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM `t_server_info` s WHERE s.`upsteam_node_name` = #{upSteamNodeName} AND s.`is_deleted` = '0'
        <if test="null != id and '' != id">
            AND s.`id` != #{id}
        </if>
    </select>


    <select id="findUpSteamNodeIdsByServerName" resultType="java.lang.String">
        SELECT u.id FROM `t_server_info` s LEFT JOIN `t_upsteam_name` n ON n.`upsteam_name` = s.`upsteam_node_name` LEFT JOIN `t_upsteam_node` u ON n.`upsteam_name` = u.`node_name`
        WHERE s.`server_name` = #{serverName} AND u.`running_status` = '0'
        AND s.`is_deleted` = '0'
        AND n.`is_deleted` = '0'
        AND u.`is_deleted` = '0';
    </select>


    <select id="findSyncHostNode" resultType="net.onebean.server.mngt.vo.ServerHostNodeVo">
        SELECT
          s.`upsteam_node_name`,
          s.`is_ssl`,
          s.`listen_port`,
          s.`ssl_listen_port`,
          s.`server_host`,
          s.`ssl_crt_path`,
          s.`ssl_crt_key_path`
        FROM
          `t_server_info` s
        WHERE s.`is_front` = '1'
          AND s.`is_deleted` = '0'
    </select>


</mapper>