<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 0nebean-->
<!--description 服务器节点 mapper-->
<!--date 2019-11-01 14:19:09-->
<mapper namespace="net.onebean.server.mngt.dao.ServerMachineNodeDao">

        <sql id="basicFiled">
                t.id,
                t.ip_address, 
                t.access_user, 
                t.access_password, 
                t.access_rsa_path, 
                t.access_port, 
                t.access_auth_type, 
                t.conf_path, 
                t.server_machine_type, 
                t.create_time, 
                t.update_time, 
                t.operator_id, 
                t.operator_name, 
                t.is_deleted
        </sql>

        <resultMap id="basicResultMap" type="net.onebean.server.mngt.model.ServerMachineNode">
            <id column="id" jdbcType="INTEGER" property="id"/>
                <result column="ip_address" jdbcType="VARCHAR" property="ipAddress"/>
                <result column="access_user" jdbcType="VARCHAR" property="accessUser"/>
                <result column="access_password" jdbcType="VARCHAR" property="accessPassword"/>
                <result column="access_rsa_path" jdbcType="VARCHAR" property="accessRsaPath"/>
                <result column="access_port" jdbcType="VARCHAR" property="accessPort"/>
                <result column="access_auth_type" jdbcType="CHAR" property="accessAuthType"/>
                <result column="conf_path" jdbcType="VARCHAR" property="confPath"/>
                <result column="server_machine_type" jdbcType="CHAR" property="serverMachineType"/>
                <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
                <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
                <result column="operator_id" jdbcType="INTEGER" property="operatorId"/>
                <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
                <result column="is_deleted" jdbcType="CHAR" property="isDeleted"/>
        </resultMap>


</mapper>